*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.conteiner{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteiner-logo img{ 
    width: 100px;
    border-radius: 50%;
    justify-content: center;
    
}

.conteiner-logo{
    justify-content: center;
}
 
.span{
    background-color: rgb(0, 255, 170);
    padding: 0.5rem;
    border-radius: 10px;
}

.btn-icon button{
    background-color: rgb(0, 255, 170);
    border: none;
    border-radius: 18px;
    font-size: 1.5rem;
    padding: 1rem;
    margin-right: 5px;
}

